<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='style.css'>
        <link href='style.scss'>
        <title>Interstate Home Builder</title>
    </head>
    <body>
        <div id='app' v-cloak>
            <!-- Landing page -->
            <section v-show="showLandingPage">
                <div class='wrapper'>
                
                    <div class='center'>
                        <img class='landingLogo' src='logo_png.png' alt='interstate homes'><br>
                        <button class='landingButton' v-on:click="showRegister">REGISTER</button>&nbsp; &nbsp; &nbsp;
                        <button class='landingButton' v-on:click='showSignIn'>SIGN IN</button>
                    </div>
                    
                </div>
            </section>

            <!--Sign In Page-->
            <section v-show='showSignInPage'>
                <div class='wrapper'>
                    <img class='signInLogo' src='logo_png.png' alt='interstate logo'><br>
                    <div class='signInContainer'>
                        <div class='center'>
                            <h1 class='signInHeading'>SIGN IN</h1>
                            <img class='userLogo' src='user-solid.svg' alt='user'>
                            <input v-model='signInEmail' class='signInInput' type='email' placeholder='Email address'><br>
                            <!-- <img class='userLock' src='unlock-alt-solid.svg' alt='password'>
                            <input class='signInInput' type='password' placeholder='Password'><br> -->
                            <button v-on:click='signInButtonClicked' class='signInButton'>SIGN IN</button>
                            <p class='createAccountText'>Don't have an account?&nbsp; &nbsp; &nbsp;<span v-on:click='showRegister' class='createAccountLink'>Sign Up</span></p>
                        </div>
                        
                    </div>
                </div>
            </section>

            <!--user base-->
            <section v-show='showUserBase'>
                <div class='wrapper'>
                    <div class='center'>
                        <img class='userBaseLogo' src='logo_png.png' alt='interstate homes'>
                    </div>
                    <div class='userBaseContainer'>
                        <div class='wrapper'>
                            <h1 style='margin-bottom:0px; display: inline-block; font-size:1.5em'>Welcome {{ signInEmail }}</h1> <!--input user name-->

                            <button v-on:click='newPlanButtonClicked' class='newPlanButton'><span class='plusSign'>+</span><br>
                            New Plan
                            </button>
                            <h4 style='margin-top:40px; margin-bottom: 0px;'>PREVIOUS PLANS:</h4>
                            <hr>
                            <ul><!--v for-->
                                <li class='planDiv'>
                                    Name  <span style='float:right'><img class='editButton' src='pencil.png' alt='edit'></span>
                                </li>

                                <li class='planDiv'>
                                        Name  <span style='float:right'><img class='editButton' src='pencil.png' alt='edit'></span>
                                </li>

                                <li class='planDiv'>
                                    Name  <span style='float:right'><img class='editButton' src='pencil.png' alt='edit'></span>
                                </li>
                            </div>
                            
                        </div>    
                    </div>
                
            </section>


            <!--Register Page-->
            <section v-show="showRegisterPage">
                    <div class='wrapper'>
                        <img class='signInLogo' src='logo_png.png' alt='interstate logo'><br>
                        <div class='signInContainer'>
                            <div class='center'>
                                <h1 class='registerHeading'>REGISTER</h1>
                            </div>
                            <div class='wrapper signInForm'>
                                <div class='shortHR'>
                                    Name
                                    <hr>
                                </div>
                                <img class='userLogo' src='user-solid.svg' alt='user'>
                                <input v-model='registerName' class='registerInput' type='text' placeholder='Your full name'><br>
                                <div class='shortHR'>
                                    Email Address
                                    <hr>
                                </div>
                                
                                <img class='userEmail' src='email.png' alt='email'>
                                <input v-model='registerEmail' class='registerInput' type='email' placeholder='email@example.com'><br>
                                <!-- <div class='shortHR'>
                                    Password
                                    <hr>
                                </div>
                                <img class='userLock' src='unlock-alt-solid.svg' alt='password'>
                                <input class='registerInput' type='password' placeholder='Password (at least 6 characters)'><br> -->
                                <button v-on:click='registerButtonClicked' class='registerButton'>REGISTER</button> 
                                <p class='createAccountText'>Already have an account?&nbsp; &nbsp; &nbsp;<span v-on:click='showSignIn' class='createAccountLink'>Sign In</span></p>
                            
                            </div>
                        </div>
                    
                </section>

                <!--Plan Picker-->
                <section v-show='showChoosePlan'>
                    <div class='smallerWrapper'>
                        <img v-on:click='closePlanButton' class='closeButton' src='x.png' alt='close'>
                        <span style='color:#707070'>Name of Plan:</span> &nbsp;&nbsp;
                        <input v-model='planName' type='text' class='registerInput'>
                        <h3 style='display:inline-block; margin-bottom:60px;'>Select one item from each category:</h3><br>
                        <h2>Exterior Door:</h2>
                        <hr><br>
                        <input type="radio" id="extDoorOne" value="extDoorOne" v-model="pickedExtDoor">
                        <label class='inline' for="extDoorOne">
                                <img class='imgSelection' src='exdoor1.jpg' alt='door 1'>
                        </label>
                        
                        <input type="radio" id="extDoorTwo" value="extDoorTwo" v-model="pickedExtDoor">
                        <label class='inline' for="extDoorTwo">
                            <img class='imgSelection' src='exdoor2.jpg' alt='door 2'>
                        </label>

                        <input type="radio" id="extDoorThree" value="extDoorThree" v-model="pickedExtDoor">
                        <label class='inline' for="extDoorThree">
                            <img class='imgSelection' src='exdoor3.png' alt='door 3'>
                        </label>
                        <br>
                        <span>Picked: {{ pickedExtDoor }}</span>


                        


                        <br><br><br>
                        <h2>Interior Door:</h2>
                        <hr>


                        <br>
                        <input type="radio" id="intDoorOne" value="intDoorOne" v-model="pickedIntDoor">
                        <label class='inline' for="intDoorOne">
                                <img class='imgSelection' src='intdoor1.jpg' alt='int door 1'>
                        </label>
                        
                        <input type="radio" id="intDoorTwo" value="intDoorTwo" v-model="pickedIntDoor">
                        <label class='inline' for="intDoorTwo">
                            <img class='imgSelection' src='intdoor2.png' alt='door 2'>
                        </label>

                        <input type="radio" id="intDoorThree" value="intDoorThree" v-model="pickedIntDoor">
                        <label class='inline' for="intDoorThree">
                            <img class='imgSelection' src='intdoor3.png' alt='door 3'>
                        </label>
                        <br>
                        <span>Picked: {{ pickedIntDoor }}</span>
                        <br><br><br>


                        <h2>Siding:</h2>
                        <hr>

                        <br>
                        <input type="radio" id="sidingOne" value="sidingOne" v-model="pickedSiding">
                        <label class='inline' for="sidingOne">
                                <img class='imgSelection' src='siding1.png' alt='siding 1'>
                        </label>
                        
                        <input type="radio" id="sidingTwo" value="sidingTwo" v-model="pickedSiding">
                        <label class='inline' for="sidingTwo">
                            <img class='imgSelection' src='siding2.png' alt='siding 2'>
                        </label>

                    
                        <br>
                        <span>Picked: {{ pickedSiding }}</span>


                        


                        <h2>Flooring:</h2>
                        <hr>


                        <br>
                        <input type="radio" id="floorOne" value="floorOne" v-model="pickedFlooring">
                        <label class='inline' for="floorOne">
                                <img class='imgSelection' src='floor1.png' alt='floor 1'>
                        </label>
                        
                        <input type="radio" id="floorTwo" value="floorTwo" v-model="pickedFlooring">
                        <label class='inline' for="floorTwo">
                            <img class='imgSelection' src='floor2.png' alt='floor 2'>
                        </label>

                        <input type="radio" id="floorThree" value="floorThree" v-model="pickedFlooring">
                        <label class='inline' for="floorThree">
                            <img class='imgSelection' src='floor3.png' alt='floor 3'>
                        </label>
                        <br>
                        <span>Picked: {{ pickedFlooring }}</span>
                        <br><br><br>



                        <h2>Countertop:</h2>
                        <hr>


                        <br>
                        <input type="radio" id="counterOne" value="counterOne" v-model="pickedCounter">
                        <label class='inline' for="counterOne">
                                <img class='imgSelection' src='counter1.png' alt='counter 1'>
                        </label>
                        
                        <input type="radio" id="counterTwo" value="counterTwo" v-model="pickedCounter">
                        <label class='inline' for="counterTwo">
                            <img class='imgSelection' src='counter2.jpg' alt='counter 2'>
                        </label>

                        <input type="radio" id="counterThree" value="counterThree" v-model="pickedCounter">
                        <label class='inline' for="counterThree">
                            <img class='imgSelection' src='counter3.jpg' alt='counter 3'>
                        </label>

                        <input type="radio" id="counterFour" value="counterFour" v-model="pickedCounter">
                        <label class='inline' for="counterFour">
                            <img class='imgSelection' src='counter4.jpg' alt='counter 4'>
                        </label>
                        <br>
                        <span>Picked: {{ pickedCounter }}</span>
                        <br><br><br>

                        



                        

                                

                        

                        <button class='saveFormButton'>SAVE</button>
                        
                    </div>
                </section>

            </div>
        </div>
        <script src='vue.js'></script>
        <script src='app.js'></script>
    </body>
</html>