@font-face {
    font-family: bodyCopy;
    src: url(fonts/AvenirLTStd-Medium.otf);
}

@font-face {
    font-family: headings;
    src: url(fonts/AvenirLTStd-Heavy.otf);
}

[v-cloak] {display: none}

  
/* box-shadow: 0px 3px 3px rgba(0,0,0,0.2); */
/* gradient_image\ copy.svg */
body {
    background-image: url('images/gradient_image_copy.png');
    background-size:cover; 
    background-repeat: no-repeat; 
    background-color:lightgray;
    font-family: bodyCopy;
    color: #838383;
}

.inline {
    display:inline-block;
    margin:20px;
}


.wrapper {
    width:80%;
    margin:0 auto;
}

.center {
    text-align: center;
}


li  {
    list-style-type: none;
}

ul  {
    padding-left:0px;
}


.landingLogo {
    margin-top:10%;
    /* 
    for mobile!!
     */
    height: 30%;
    width: 40%;
}


.signInLogo {
    height:20%;
    margin-top:1em;
    width:30%;
}


.landingButton {
    background-color:#eee;
    border-radius: 5px;
    padding:8px 20px;
    font-family: bodyCopy;
    border: 2px solid #838383;
    margin:20px;
    color: #838383;
    font-size:0.8em;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

.landingButton:hover {
    cursor: pointer;
}

.signInContainer {
    /* background-color:#fff;
    border: 2px solid #838383;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2); */
    margin:40px 0px;
    padding: 40px 40px;
}

.signInInput {
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    font-size:0.8em;
    border: 0px solid #838383;
    padding:10px 10px;
    margin-bottom:40px;
    width:50%;
}


textarea:focus, input:focus, button:focus{
    outline: none !important;
    border: 2px solid #fbaf19;

    
}

.userLogo, .userLock, .userEmail {
    height:20px;
    width:20px;
    margin-right:10px;
    
}

.signInButton {
    background-color:#fbaf19;
    padding:10px 10px;
    width: calc( 50% + 65px );
    color: #fff;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    margin-bottom:60px;


}

.registerButton {
    background-color:#fbaf19;
    padding:10px 10px;
    width: calc( 50% + 65px );
    color: #fff;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    margin-bottom:60px;
}

.createAccountText {
    font-size:0.8em;
    margin-bottom:40px;
}

.signInButton:hover {
    cursor: pointer;
}

.registerButton:hover {
    cursor: pointer;
}

.createAccountLink {
    border: 2px solid #838383;
    padding: 5px 8px;
    border-radius:5px;
    background-color:#f4f4f4;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    font-size:0.5em;

}


.createAccountLink:hover {
    cursor: pointer;
}

input[type=text] {
    color:#707070;
}


.signInHeading {
    font-size:1.5em;
    color:#707070;
    margin-bottom:15px;
}

.registerHeading {
    font-size:1.5em;
    color:#707070;
    margin-bottom:25px;
}


.smallerWrapper {
    width:70%;
    margin: 0 auto;
    background-color:#fff;
    z-index:50;
    border: 2px solid #838383;
    box-shadow: 0px 6px 6px rgba(0,0,0,0.4);
    position: absolute;
    top:20%;
    padding:40px;
    left:13%;
}


.closeButton {
    height:20px;
    width:20px;
    float:right;
    margin-top:10px;
}

.closeButton:hover {
    cursor: pointer;
}

h2 {
    margin-bottom:0px;
}


.userBaseLogo {
    height:20%;
    margin-top:1em;
    width:30%;
}

.userBaseContainer {
    margin:40px;
}

.newPlanButton {
    background-color:#fbaf19;
    padding:0px 20px;

    border-radius: 5px;
    color:#fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    float:right;
    
    
}

.newPlanButton h3 {
    margin:8px;
}

.planDiv {
    width:100%;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    background-color:#fff;
    border:2px solid #bdbdbd;
    margin:30px 0px;
    padding:15px;
}


.newPlanButton:hover {
    cursor:pointer;
}

.plusSign {
    font-size:2em;

}

.editButton {
    height:15px;
    width:15px;

}

.viewButton {
    height:17px;
    width:17px;

}

.deleteButton {
    height:15px;
    width:15px;
}

.deleteButton:hover {
    cursor: pointer;
}

.deleteModal {
    background-color:#707070;
    border:2px solid #bdbdbd;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    padding:20px;
    color:white;
    width:250px;
    position:absolute;
    top: calc( 50% - 100px );
    left: calc( 50% - 160px );

}

.noButton {
    margin:15px;
    padding: 5px 20px;
    color:white;
    background-color: #707070;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    border-radius:5px;
}

.yesButton {
    margin:15px;
    padding: 5px 20px;
    color:white;
    background-color: darkred;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    border-radius:5px;
}

.yesButton:hover, .noButton:hover {
    cursor: pointer;
}


.viewButton:hover {
    cursor:pointer;
}

.editButton:hover {
    cursor:pointer;
}

.registerInput {
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    font-size:0.8em;
    border: 0px solid #838383;
    padding:10px 10px;
    margin-bottom:50px;
    width:50%;
    
}

.signInForm {
    margin-left:30%;
}

.shortHR {
    width:57%;
    margin-bottom:10px;
    /* text-align:center; */
}

.saveFormButton {
    background-color:#fbaf19;
    color:#fff;
    position:fixed;
    top:90%;
    left:80%;
    padding: 10px 15px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size:0.8em;
}












/* start of selection code */



  .selectionButtons {
    display: flex;
    flex-flow: row wrap;
  }


.imgSelection {
    height: 150px;
    width:140px;
}

.selectionButtons > div {
    flex: 1;
    padding: 0.5rem;
}

input[type="radio"] {
    display: none;
}

label {
    width:160px;
    display: block;
    background: white;
    border: 2px solid hsla(150, 5%, 65%, 0.5);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
}

input[type="radio"]:checked + label {
    background: #c9dbee;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    
}

.selectedRadio {
    background: #c9dbee;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}



  
p {
    font-weight: 900;
}


.error {
    color:darkred;
    font-size:0.95em;
}



  

  /* end of selection code */
  
@media only screen and (max-width: 700px) {
    .selectionButtons {
        flex-direction: column;
    }
}
  
















@media only screen and (max-width: 800px) {
    .landingLogo {
        height:70%;
        width:80%;
    }
  }

